@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
body{
	padding: 0px;
	margin: 0px;
	background-color: white;
	font-family: "Poppins", sans-serif;
}
.bg-blue{
	background: #6070FF;
}
h1{
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
	margin-top: 80px;
}
.contact-section{
	padding: 25px;
	margin: 15px;
	color: white;
	border-top-left-radius: 13%;
	font-style: normal;
	line-height: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url("img/Ellipse 12.png"),url("img/Rectangle 4.png"),url("img/Ellipse 3.png"),url("img/Ellipse 5.png"),url("img/Rectangle 7.png"),url("img/Shape.png");
	background-position: 250px 50px, 480px 10px, 500px 50px, 330px 600px, 330px 560px, 170px 660px;
	background-repeat: no-repeat;
}
section{	

}
.bg-black{
	background: #000;
}
.form{
	padding: 10px;
	margin: 10px;
	display: flex;
	align-items: center;
	width: 75%;
	flex-direction: column;
}
.form-item{
	width: 90%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 8px;
}
.button{
	margin-top: 10px;
	padding: 10px;
	border-radius: 8px;
	color: #6070FF;

}
.submit-div{
	width: 100%;
	display: flex;
}
@media (min-width: 600px){
	body{
		background-color: red;
	}
	.contact-section{
		width: 75%;
	}
}
